%p#notice= notice
/ put the tick tack toe part in here
// apply Jquery stuff here
%p
  %b Player one name:
  = @player.player_one_name
%p
  %b Player one picture:
  = @player.player_one_picture
%p
  %b Player two name:
  = @player.player_two_name
%p
  %b Player two picture:
  = @player.player_two_picture

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
#box     
  %input#btn1{:onclick => "clickBtn('btn1')", :type => "button"}/ 
  %input#btn2{:onclick => "clickBtn('btn2')", :type => "button"}/
  %input#btn3{:onclick => "clickBtn('btn3')", :type => "button"}/
  %input#btn4{:onclick => "clickBtn('btn4')", :type => "button"}/
  %input#btn5{:onclick => "clickBtn('btn5')", :type => "button"}/
  %input#btn6{:onclick => "clickBtn('btn6')", :type => "button"}/
  %input#btn7{:onclick => "clickBtn('btn7')", :type => "button"}/
  %input#btn8{:onclick => "clickBtn('btn8')", :type => "button"}/
  %input#btn9{:onclick => "clickBtn('btn9')", :type => "button"}/
  / single quotes btn
%input#btnReset{:onclick => "reset()", :type => "button", :value => "Reset"}/

%p{:id => "player-one-win",:style => "display:none"}
  = @player.player_one_name
  %b Wins!!!
%p{:id => "player-two-win", :style => "display:none"}
  = @player.player_two_name  
  %b Wins!

