%p#notice= notice
/ put the tick tack toe part in here
// apply Jquery stuff here

 

.row
  .large-12.columns
    #box     
      %input#btn1{:onclick => "clickBtn('btn1')", :type => "button"}/ 
      %input#btn2{:onclick => "clickBtn('btn2')", :type => "button"}/
      %input#btn3{:onclick => "clickBtn('btn3')", :type => "button"}/
      %input#btn4{:onclick => "clickBtn('btn4')", :type => "button"}/
      %input#btn5{:onclick => "clickBtn('btn5')", :type => "button"}/
      %input#btn6{:onclick => "clickBtn('btn6')", :type => "button"}/
      %input#btn7{:onclick => "clickBtn('btn7')", :type => "button"}/
      %input#btn8{:onclick => "clickBtn('btn8')", :type => "button"}/
      %input#btn9{:onclick => "clickBtn('btn9')", :type => "button"}/
      / single quotes btn
      %input#btnReset{:onclick => "reset()", :type => "button", :value => "Reset"}/
.row
  .large-4.columns
    %p{:id => "player-one-win",:style => "visibility: hidden;"}
      = @player.player_one_name
      %b Wins!!!
      %img{src: @player.player_one_picture, style: "width:300px; height:300px;"}
  .large-4.columns 
    %p score tables go here...
  .large-4.columns  
    %p{:id => "player-two-win", :style => "visibility: hidden;"}
      = @player.player_two_name  
      %b Wins!
      %img{src: @player.player_two_picture, style: "width:300px; height:300px;"}

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path